:host {
    flex: 0 0 auto;
}

.active-bullet-editor-container {
    padding: 1em;
    position: relative;
}

.active-bullet-editor {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2rem;
    font-size: 16px;
    background: rgba(255,255,255,.75);
    position: relative;
}

.boundry {
    position: absolute;
    height: calc(2.3rem);
}

.boundry-left {
    width:48.75rem;
    background: white;
}

.boundry-right {
    left: 48.75rem;
    width: calc(100% - 49.75rem);
    background: red;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}