:host {
    flex: 0 0 auto;
}

.active-bullet-editor-container {
    padding: 1em;
}

.active-bullet-editor {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2em;
}