h6.edit-header {
  margin: 0;
  line-height: 1.75rem;
}

.navbar-search {
  margin-top: .75rem;
}

.nav-item:first-child {
  margin-left: 1rem;
}

.nav-link-icon {
  font-size: 1.5rem;
}

.main-sidebar {
  width: 250px;
}

.main-content {
  width: calc(100vw - 250px);
  margin-left: 250px;
}