<div class="container-fluid">
  <div class="row">
    <!-- Main Sidebar -->
    <aside class="main-sidebar px-0" style="position: fixed">
      <div class="main-navbar">
        <nav class="navbar align-items-stretch navbar-dark flex-md-nowrap border-bottom-dark p-0">
          <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
            <div class="d-table my-auto">
              <span class="d-none d-md-inline ml-2">Dakara</span>
            </div>
          </a>
          <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
            <i class="material-icons">&#xE5C4;</i>
          </a>
        </nav>
      </div>
      <app-sidebar></app-sidebar>
    </aside>
    <!-- End Main Sidebar -->
    <main class="main-content p-0">
      <div class="main-navbar sticky-top bg-white">
        <!-- Main Navbar -->
        <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
          <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="['fas', 'search']"></fa-icon>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
            </div>
          </form>
          <ul class="navbar-nav border-left flex-row">
            <li class="nav-item">
              <a class="nav-link nav-link-icon p-2" href="https://project-abydos.github.io">
                <svg class="svg-inline--fa fa-w-16" viewBox="722 422 562 599" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" role="img" version="1.1">
                  <path id="path" fill="currentColor" d="M722 1021 L990.439 611.176 C943.91 605.029 908 565.209 908 517 908 464.533 950.533 422 1003 422 1055.467 422 1098 464.533 1098 517 1098 565.209 1062.09 605.029 1015.561 611.176 L1284 1021 1070 1021 1118 914.891 1003 740.324 888 914.891 936 1021 722 1021 Z M1002.5 561 C1026.524 561 1046 541.524 1046 517.5 1046 493.476 1026.524 474 1002.5 474 978.476 474 959 493.476 959 517.5 959 541.524 978.476 561 1002.5 561 Z"
                    stroke="none" />
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon p-2" href="https://github.com/project-abydos/dakara">
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Main Content -->
      <div class="main-content-container container-fluid px-3">
        <div class="page-header row no-gutters py-2">
        </div>
        <div class="row">
          <!-- Bullet History -->
          <div class="col-lg-9 col-md-12 col-sm-12 mb-3">
            <div class="card card-small h-100">
              <div class="card-body py-0">
                <div class="row">
                  <app-text-list></app-text-list>
                </div>
              </div>
            </div>
          </div>
          <!-- Acronym Lookup -->
          <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <app-acronym-lookup></app-acronym-lookup>
          </div>
          <!-- Bullet Entry -->
          <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
            <div class="card card-small h-100">
              <div class="card-header border-bottom">
                  <app-action-bar></app-action-bar>
              </div>
              <div class="d-flex flex-column">
                <app-text-entry></app-text-entry>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
