<div class="nav-wrapper">
  <ul class="nav flex-column">
    <li class="nav-item" *ngFor="let bullet of (bullets | async); index as idx">
      <a class="nav-link active" [ngClass]="{active: bullet.isCurrent}" (click)="bulletService.updateActiveCollection(idx)">
        <span>{{bullet.active}}</span>
      </a>
    </li>
    <li>
      <button type="button" class="btn btn-dark caps create-bullet-button" (click)="bulletService.createCollection()">
        <fa-icon [icon]="['fas', 'edit']"></fa-icon>&nbsp;
        Create a New Bullet
      </button>
    </li>
  </ul>
</div>
