<div class="nav-wrapper">
  <ul class="nav flex-column">
    <li class="nav-item" *ngFor="let bullet of (bullets | async); index as idx">
      <a class="nav-link active" [ngClass]="{active: bullet.isCurrent}" (click)="bulletService.updateActiveCollection(idx)">
        <span>{{bullet.active}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-center" (click)="bulletService.createCollection()">
        <span><fa-icon [icon]="['fas', 'plus']"></fa-icon></span>
      </a>
    </li>
  </ul>
</div>
