<div class="row">
  <div class="col-lg-6 m-0">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-white active m-0">
        <input type="radio" name="prType" id="oprButton" checked> EPR
      </label>
      <label class="btn btn-white m-0">
        <input type="radio" name="prType" id="eprButton"> OPR
      </label>
    </div>
  </div>
  <div class="col-lg-6 m-0 d-flex justify-content-end">
    <button class="btn btn-success m-0 mr-2" title="Auto-Fit Bullet">
      <fa-icon [icon]="['fas', 'magic']"></fa-icon>
    </button>
    <button class="btn btn-danger m-0" (click)="bulletService.clearBulletCollection()" title="Delete Bullet">
      <fa-icon [icon]="['fas', 'trash']"></fa-icon>
    </button>
  </div>
</div>
