<div class="row">
  <div class="col-lg-6 m-0">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-white m-0" [ngClass]="{ active: settings.prType == 'EPR' }">
        <input type="radio" name="prType" id="oprButton" value="EPR" [(ngModel)]="settings.prType" 
          #ctrl="ngModel" (change)="settingsService.updateSettingsCollection(settings)"> EPR
      </label>
      <label class="btn btn-white m-0" [ngClass]="{ active: settings.prType == 'OPR' }">
        <input type="radio" name="prType" id="eprButton" value="OPR" [(ngModel)]="settings.prType"
          #ctrl="ngModel" (change)="settingsService.updateSettingsCollection(settings)"> OPR
      </label>
    </div>
  </div>
  <div class="col-lg-6 m-0 d-flex justify-content-end">
    <button class="btn btn-success m-0 mr-2 disabled" title="Auto-Fit Bullet" disabled>
      <fa-icon [icon]="['fas', 'magic']"></fa-icon>
    </button>
    <button class="btn btn-danger m-0" (click)="bulletService.clearBulletCollection()" title="Delete Bullet">
      <fa-icon [icon]="['fas', 'trash']"></fa-icon>
    </button>
  </div>
</div>
