@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import 'scss/shards-dashboards.scss';
@import '../node_modules/bootstrap/scss/bootstrap';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif !important;
}

.btn {
  margin: .25rem;
}

.btn.caps {
  // Unicorn will probably delete this :-)
  font-variant-caps: small-caps
}

.btn.pill {
  font-weight: 200;
  font-size: 1rem;
  border-radius: 10rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.tooltip {
  .arrow::before {
    border-top-color: black;
  }

  .tooltip-inner {
    max-width: 40vw !important;
    background: black;
    color: white;
  }
}

:focus {
  box-shadow: none !important;
}
